.content {
  display: block;
  top: -170px;
  min-height: 500px;
  width: 80%;
  margin: 0 auto;
}

.li2Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.li2BoxItem {
  overflow: hidden;
  flex: 0 0 24%;
  position: relative;
  margin: 0.3%;
  height: 30%;
}

.li2BoxItem:hover img {
  transform: scale(1);
}

.li2BoxItem:hover .boxitemTitle {
  bottom: 0px;
  opacity: 1;
}

.li2BoxItem>img {
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.li2BoxItem .boxitemTitle {
  position: absolute;
  bottom: -10rem;
  left: 0px;
  right: 0px;
  height: 10rem;
  text-align: center;
  background-color: var(--headerhover);
  color: var(--headerFont);
  transition: all .3s ease-in-out;
  transform: scale(1);
  font-size: 12px;
}

.boxitemTitle h6 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.contentLi.li1 {
  display: flex;
  justify-content: space-between;
}

.contentLi.li1>.li1-box {
  position: relative;
  flex: 0 0 32%;
  background-color: var(--headerCOlor);
  min-height: 150px;
  text-align: center;
  border-radius: 10px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.intro{
  font-size: 2rem;
  color: var(--mainColor);
}


/* 手机*/
@media screen and (max-width: 550px) {
  .content {
    top: -150px;
  }
  .content-li {
    display: block;
  }

  .li1 {
    display: block !important;
  }

  .li1Layout {
    display: block !important;
  }

  .li1Box {
    margin-bottom: 10px;
    position: none;
  }

  .li2BoxItem {
    flex: 100%;
    min-height: auto;
  }

  .li2BoxItem .boxitemTitle {
    bottom: 0;
    height: 10rem;
  }

  .intro{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: var(--mainColor);
  }
}