
/* 正文 */
.li1Layout {
  display: flex;
  justify-content: space-between;
}

.li1Layout>.li1Box {
  position: relative;
  flex: 0 0 32%;
  background-color: var(--headerCOlor);
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 30px 20px;
  box-sizing: border-box;

}

.li1Box>span {
  /* margin-top: 25px; */
  font-size: 24px;
  font-weight: 900;
  color: var(--headerFont);
  line-height: 20px;
  display: inline-block;
}

.li1Box>span.tag {
  color: var(--mainColor);
  font-size: 18px;
}

.li1Box>p {
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--headerFont);
  transition: .4s ease-in-out;
  margin: 0px;
}

/* 公共 */
.content-li>h3 {
  display: flex;
  align-items: center;
  color: var(--headerFont);
}

.content-li .borderbotm {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.li3Box{
  display: block;
  margin-bottom: 20px;
  padding: 1.2rem;
  cursor: pointer;
}

.li3Box p{
  margin: 20px 0;
  opacity: .8;
}

.addressWrap{
  display: flex;
  justify-content: space-between;
  color: #7B7B7D;
  font-size: 10px;
}

.addressWrap svg path{
  fill: #7B7B7D;
}
.addressWrap svg{
  margin-bottom: 3px;
}

.addressLeft span{
  margin-right: 5px;
}

.addressLeft span.zd{
  color: var(--mainColor);
}

/* 第四 */
.li4Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.li4Box>div {
  box-sizing: border-box;
  padding: 25px;
  flex: 0 0 48%;
  min-height: 250px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
}

.li4Box>div p {
  font-size: 13px;
  color: #7B7B7D;
}

.li4Box>div a {
  position: relative;
  display: inline-block;
  color: var(--mainColor);
  margin-top: 10px;
  cursor: pointer;
  padding-right: 30px;
}

.li4Box>div a::after {
  position: absolute;
  right: 10px;
  top: 50%;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 8px solid var(--mainColor);
  border-bottom: 4px solid transparent;
  animation: bmove 1s infinite;
}

.li4Box svg path {
  fill: var(--headerFont);
}

.li4icon {
  width: 45px;
  height: 45px;
}

/* 第六个 */
.content-li.li6 {}

.li6Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.li6Box a {
  display: block;
  color: var(--mainColor);
  margin-top: 10px;
  cursor: pointer;
}

.li6Box>div {
  display: inline-block;
  overflow: hidden;
  flex: 0 0 48%;
  margin-bottom: 20px;
}

.li6Box .borderbotm {
  margin-left: 0px;
  margin-right: 0px;
}

.li6carTitle {
  padding: 20px;
}

.li6Box .imgbox {
  display: block;
  overflow: hidden;
  margin-top: 0px;
}

.li6Box img {
  transform: scale(1.1);
  height: 100%;
  transition: all .3s ease-in-out;
}

.li6Box img:hover {
  transform: scale(1);
}

/* .throughline {
  text-decoration: line-through;
  opacity: .5;
}

.item-price {
  font-size: 28px;
  font-family: fantasy;
  text-align: center;
}

.item-price sub {
  font-size: 14px;
  color: rgba(204, 205, 207, 0.7);
  font-weight: 300;
  vertical-align: middle;
} */


/* 手机*/
@media screen and (max-width: 550px) {
  .content-li {
    display: block;
  }

  .li1Layout {
    display: block !important;
  }

  .li1Box {
    margin-bottom: 10px;
    position: none;
  }

  .li1Box::before{
    opacity: 0;
  }

  .li4Box {
    display: block;
  }

  .li6Box {
    display: block;
  }

  .li7Box {
    display: block;
  }

  .li5box-car {
    width: auto;
  }
}

@keyframes bmove {
  0%{
    opacity: 1;
    transform: translateX(-8px) translateY(-50%);
  }
  100%{
    opacity: 0;
    transform: translateX(5px) translateY(-50%);
  }
}